@import 'game';

.active {
    margin-top: 1em;
    @extend %future-box;
}

#name {
    //text-align: center;
    margin: auto;
    //font-size: 2em;
    margin-top: 1.5em;
}

.first-player {
    color: #FFD700 !important;
}

#game-information section {
    margin: 0.67em 0em;
}
  
#game-information p {
    margin: 0px;
}

.modal {
    max-height: 96vh;
    box-sizing: border-box;
    top: 2vh;
    padding: 2vh 2vw;
    overflow: auto;
}

#toggle-lobby-button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    top: 10px;
    right: calc(13px + 1.5em);
    margin-top: 0px;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    @extend %future-color;
    @extend %future-box-transparent;
}
