@import 'game';

.suspicious {
    color: #F7FE2E !important;
  }
  
.unknown {
    @extend %future-color;
}

#propose-team {
    display: none;
    margin: auto;
    max-width: 400px;
    @extend %future-color;
    width: 35vw;
    @extend %future-box-transparent;
    text-align: center;
}

#proposal-submit-button {
    width: 25vw;
}
  
#results-area, #assassination-area {
    align-items: center;
    justify-content: center;
    @extend %flex-column;
    margin: auto;
    text-align: center;
}
  
#results-area p {
    margin: 0px;
}
  
#results-area section {
    margin: 0.67em 0em;
}

#assassination-area h3 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
  
#results-modal {
    display: none;
    @extend %future-box;
    font-family: 'Helvetica', sans-serif;
    min-width: 30vw;
    min-height: 30vh;
    z-index: 8;
}
  
#assassination-modal {
    display: none;
    @extend %future-box;
    font-family: 'Helvetica', sans-serif;
    min-width: 30vw;
    min-height: 30vh;
}
  
#status-message {
    display: block;
    position: absolute;
    left: 50%;
    margin-top: 0px;
    top: 10px;
    transform: translate(-50%);
    @extend %future-color;
    text-align: center;
}
  
.vertical-player-area {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    margin: auto;
    padding-top: 4vh;
}
  
.vertical-player {
    text-align: center;
}
  
.vertical-player h3 {
    margin: 0.5vh 0.5vw;
}
  
#center-area {
    display: flex;
}
  
#game-board {
    width: 43vw;
    height: 43vh;
    z-index: 0;
}
  
#board-area {
    position: relative;
}
  
.result-image {
    z-index: 1;
    position: absolute;
    height: 9vh;
    width: 7vw;
}
  
.horizontal-player-area {
    height: 35vh;
    width: 25vw;
    @extend %flex-column;
    justify-content: space-between;
    margin: auto;
}
  
.horizontal-player {
    display: flex;
    align-items: center;
}
  
.horizontal-player h2 {
    margin: 0.5vh 0.5vw;
}
  
#left-player-area .horizontal-player {
    justify-content: flex-end;
}
  
#right-player-area .horizontal-player {
    justify-content: flex-start;
}
  
.current-leader {
    text-decoration: underline;
}
  
#action-area {
    margin: auto;
    @extend %future-color;
    justify-content: center;
    align-items: center;
}
  
#reset-assassination-button, #confirm-assassination-button {
    width: 20vw;
    height: 5vh;
    margin-top: 1vh;
    font-size: 1.25em;
}