@import 'main';

%list-group-item {
    border: 1px solid rgb(0, 248, 248);
    border-radius: 10px;
    /*
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    */
    display: table;
    width: 70vw;
    max-width: 320px;
}

.player-active {
    color: #228B22;
}
  
.player-inactive {
    color: #b3b3b3;
}

// Change to class
#lobby-players {
    margin: auto;
    width: 80vw;
    max-width: 400px;
    border-bottom: 20px solid rgb(0, 248, 248);
    box-shadow: 0 0 4px rgba(0,157,187,0);
    @extend %future-color;
    background: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
#lobby-players h2 {
    padding: 1vh 2vw;
    margin: 0px;
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(0, 248, 248);
    box-shadow: 0 0 4px rgba(2,157,187,0.65);
}
  
#lobby-player-list {
    position: relative;
    padding-inline-start: 1em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: left;
    border: 1px solid rgb(0, 248, 248);
    box-shadow: 0 0 4px rgba(2,157,187,0.65);
}
  
#lobby-player-list div {
    list-style: none;
    padding: 0.75vh 0vw;
    font-size: 1.25em;
}
  
.remove-player-button {
    font-size: 1.25em;
    font-weight: 700;
    @extend %future-color;
    position: absolute;
    right: 20px;
}
  
.remove-player-button:hover,
.remove-player-button:focus {
    text-decoration: none;
    cursor: pointer;
    color: #08a5c4;
}
  
.remove-player-button span {
    display: block;
    position: absolute;
    top:0;
    left:0;
}

div.future-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    @media only screen and (max-width: 640px) {
        padding-top: 17.5vh;
    }
    @media only screen and (min-width: 640px) {
        padding-top: 15%;
    }
}

.close-modal-button {
    @extend %future-color;
    font-size: 1.75em;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 8px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
}
  
.close-modal-button:hover,
.close-modal-button:focus {
    text-decoration: none;
    cursor: pointer;
    color: #08a5c4;
}

#menu-modal-content {
    position: relative;
    background-color: #001a1a !important;
    margin: auto;
    padding: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    @extend %future-color;
    @extend %future-box;

    @media only screen and (max-width: 640px) {
        width: calc(70vw + 5em);
        max-width: calc(300px + 5em);
    }
    @media only screen and (min-width: 640px) {
        width: calc(300px + 5em);
    }
}

#menu-modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
}

#menu-modal-body button {
    margin-top: 0;
}

#menu-modal-body button + button {
    margin-top: 1em;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.right-circle-future-button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    top: 10px;
    right: 10px;
    margin-top: 0px;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    @extend %future-color;
    @extend %future-box-transparent;
    -webkit-appearance: none;
}

.right-circle-future-button img {
    width: 0.75em;
}

.left-circle-future-button {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    font-size: 1.5em;
    top: 10px;
    left: 10px;
    margin-top: 0px;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    @extend %future-color;
    @extend %future-box-transparent;
    padding: 0px 12px;
    -webkit-appearance: none
}

.menu-bar {
    height: 2px;
    background-color: #9debfb;
    margin: 3px 2.5px;
}

#lobby-content {
    margin-top: calc(1em + 13px);
}

#help-content {
    margin-top: calc(1em + 13px);
    align-items: center;
    color: #b6f0fc;
    font-family: 'Helvetica', sans-serif;
}

#help-content ul {
    @media only screen and (min-width: 640px) {
        width: 50vw;
    }
}

#help-content h1 {
    margin-inline-start: 10px;
}

#role-content {
    font-family: 'Helvetica', sans-serif;
    align-items: center;
    justify-content: center;
    @extend %flex-column;
    margin: auto;
    text-align: center;
    margin-top: calc(1.5em + 13px);
}

#game-content section, #role-content section {
    margin: 0.33em 0em;
}
  
#game-content p {
    margin: 0px;
}

#role-content p {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}

.list-group {
    list-style: none;
    padding-inline-start: 0px;
}

.list-group-item {
    @extend %list-group-item;
}

.list-group-item + .list-group-item {
    margin-top: 0.5em;
}

.selected {
    background-color: rgba(2,157,187,0.65);
}

.clickable {
    cursor: pointer;
}
  
.vote-image {
    border: 2px solid transparent;

    @media only screen and (max-height: 1000px) {
        height: 15vh;
    }
    @media only screen and (min-height: 1000px) {
        max-height: 150px;
    }
}

.gun-image {
    max-height: 180px;
    height: 8vh;
    border: 2px solid transparent;
}

.icon-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: calc(70vw/8);
    max-width: 40px;

    img {
        height: 2em;
    }
}

.name-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: calc(70vw/2);
    max-width: 160px;

    p {
        @media only screen and (max-height: 800px) {
            margin-block-start: 0.75em !important;
            margin-block-end: 0.75em !important;
            line-height: 1;
        }
        @media only screen and (min-height: 800px) {
            margin-block-start: 1em !important;
            margin-block-end: 1em !important;
            line-height: 1;
        }
    }
}

.approved-color {
    color: #14DBB3;
}

.rejected-color {
    color: #DB143C;
}

#select-vote-container {
    @media only screen and (max-height: 700px) {
        margin-top: 0.5em;
    }
    @media only screen and (min-height: 700px) {
        margin-top: 1em;
    }
}

.selected-image {
    border: 2px solid rgb(0, 248, 248) !important;
    box-shadow: 0 0 4px rgba(2,157,187,0.65);
}

img + img {
    margin-left: 0.5vw;
}

.action-image {
    border: 2px solid transparent;

    @media only screen and (max-height: 1000px) {
        height: 14vh;
    }
    @media only screen and (min-height: 1000px) {
        max-height: 150px;
    }
}

#mission-results-container {
    display: table;
    margin: 0 auto;
    margin-bottom: 0.5em;
}

.mission-result-wrapper {
    display: table-cell;
    vertical-align: middle;

    img {
        height: 1.75em;
        width: 1.75em;
        padding: .25em .125em;
    }

    p {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 2em;
    }
}

.mission-result {
    text-align: center;
}

.vote-container {
    display: flex;
    align-items: center;
}

.vote-image-wrapper {
    width: 20vw;
}

#assassination-role-container {
    margin-top: 0 !important;
    width: 70vw;
    max-width: 320px;
    justify-content: space-around !important;
}

.player-names-container {
    text-align: left;
}

.player-names-section {
    text-align: left;
    margin-left: 2vw;
    p {
        margin: 0px;
        line-height: normal;
    }
}