@import 'main';
  
.mission-results {
    align-items: center;
    display: flex;
}
  
section.game-log {
    @extend %future-box;
    padding: 1vh 1vw;
}
  
section.game-log + section.game-log {
    margin-top: 1vh;
}
  
section.game-log img {
    width: 2.5vw;
    margin-left: 0.5vw;
}
  
dl.property-table {
    margin: 0vh 2vw;
    line-height: 2em;
}
  
dt.property-tag {
    float: left;
    clear: left;
    width: 10vw;
    font-weight: bold;
}
  
dd.property-value {
    float: left;
}