<div class="center-flex-column" id="lobby-information">
    <h1 class="future-header" id="game-code">Game Code: <%= code %></h1>
    <div id="lobby-players">
        <h2 id="lobby-player-count">Players [0]</h2>
        <ul id="lobby-player-list"></ul>
    </div>
</div>