<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{{ script }}}
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <button class="home-button future-secondary-font future-color future-box" type="button", onclick="location.href='/'">Home</button>
    {{{ body }}}
</body>
</html>
