<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/game.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
                integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script src="/javascripts/gameLocal.js"></script>
    </head>
    <body>
        <div class="flex-column" id="root">
            <button class="left-circle-future-button" id="back-button" title="Return To Lobby"> &#8249; </button>
            <button class="right-circle-future-button" id="menu-button" title="Open Menu"> 
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
                <div class="menu-bar"></div>
            </button>
            <div class="future-modal" id="menu-modal">
                <div id="menu-modal-content">
                    <button class="close-modal-button" id="close-menu-modal-button" title="Close Menu">&times;</button>
                    <div id="menu-modal-body">
                        <button class="future-button" type="button" id="view-help-button">View Help</button>
                        <button class="future-button" type="button" id="view-lobby-button">Return To Lobby</button>
                        <button class="future-button" type="button" id="view-role-button">View Role</button>
                        <button class="future-button" type="button" id="view-game-button">Return To Game</button>
                    </div>
                </div>
            </div>
            <div class="center-flex-column" id="lobby-content">
                <h1 class="future-header" id="game-code">Game Code: <%= code %></h1>
                <div id="lobby-players">
                    <h2 id="lobby-player-count">Players [0]</h2>
                </div>
                <% if (host) { %>
                    <button class="future-button future-button-disabled" type="button"
                        id="start-game-button" disabled>Start Game</button>
                    <button class="future-button" type="button" id="close-lobby-button">Close Lobby</button>
                <% } %>
            </div>
            <div class="flex-column" id="help-content">
                <h1 class="future-header">Resistance Roles</h1>
                <ul>
                    <li>
                        <span class="resistance">Merlin</span>: Sees <span class="spy">spies</span> (except <span class="spy">Mordred</span>) and
                        <span class="resistance">Puck</span>; Can be assassinated
                    </li>
                    <li>
                        <span class="resistance">Arthur</span>: Sees <span class="resistance">resistance</span> roles present; Can be assassinated
                    </li>
                    <li>
                        <span class="resistance">Tristan</span>: Sees <span class="resistance">Iseult</span>; Can be
                        assassinated with <span class="resistance">Iseult</span>
                    </li>
                    <li>
                        <span class="resistance">Iseult</span>: Sees <span class="resistance">Tristan</span>; Can be
                        assassinated with <span class="resistance">Tristan</span>
                    </li>
                    <li>
                        <span class="resistance">Ector</span>: Known by all <span class="resistance">Resistance</span> members; Can be
                        assassinated
                    </li>
                    <li>
                        <span class="resistance">Percival</span>: Sees <span class="resistance">Merlin</span> and
                        <span class="spy">Morgana</span>
                    </li>
                    <li>
                        <span class="resistance">Lancelot</span>: May play reverse cards
                    </li>
                    <li>
                        <span class="resistance">Uther</span>: Sees a random <span class="resistance">resistance</span> player
                    </li>
                    <li>
                        <span class="resistance">Guinevere</span>: Sees <span class="resistance">Lancelot</span> and
                        <span class="spy">Maelagant</span>
                    </li>
                    <li>
                        <span class="resistance">Jester</span>: Only wins if assassinated; Sees present assassinable roles
                    </li>
                    <li>
                        <span class="resistance">Puck</span>: Only wins if <span class="resistance">Resistance</span> wins after 5 rounds; May play fail cards
                    </li>
                    <li>
                        <span class="resistance">Galahad</span>: Sees <span class="resistance">Arthur</span>
                    </li>
                    <li>
                        <span class="resistance">Gaheris</span>: Can bind a player on a mission to the <span class="resistance">Resistance</span>
                    </li>
                    <li>
                        <span class="resistance">Geraint</span>: Can protect a player on a mission from a <span class="spy">spy</span> bind
                    </li>
                    <li>
                        <span class="resistance">Kay</span>: If <span class="spy">Spies</span> win 3 rounds, can redeem <span class="resistance">Resistance</span>
                        by naming all <span class="spy">Spies</span> correctly
                    </li>
                    <li>
                        <span class="resistance">Sir Robin</span>: While conducting a mission, discovers a new <span class="resistance">Resistance</span> member also on
                        that mission; Blocked when <span class="spy">Accolon</span> is on the same mission
                    </li>
                    <% if (settings.bedivere) { %>
                        <li>
                            <span class="resistance">Bedivere</span>: Sees <span class="spy">spy</span> roles
                        </li>
                    <% } %>
                    <% if (settings.titania) { %>
                        <li>
                            <span class="resistance">Titania</span>: Appears as a <span class="spy">spy</span> to a random <span class="spy">spy</span> player
                        </li>
                    <% } %>
                </ul>
                <h1 class="future-header">Spy Roles</h1>
                <ul>
                    <li>
                        <span class="spy">Mordred</span>: Not seen by <span class="resistance">Merlin</span>
                    </li>
                    <li>
                        <span class="spy">Morgana</span>: Seen as possible <span class="resistance">Merlin</span>
                        by <span class="resistance">Percival</span>; Immunue to <span class="resistance">resistance</span> binds
                    </li>
                    <li>
                        <span class="spy">Maelagant</span>: May play reverse cards
                    </li>
                    <li>
                        <span class="spy">Colgrevance</span>: Sees roles of all <span class="spy">spies</span>
                    </li>
                    <li>
                        <span class="spy">Accolon</span>: Sabotages the vision of a random <span class="resistance">resistance</span> player; Blocks
                        <span class="resistance">Sir Robin</span>'s ability if on that mission
                    </li>
                    <li>
                        <span class="spy">Cerdic</span>: Can bind a player on a mission to the <span class="spy">Spies</span>
                    </li>
                    <li>
                        <span class="spy">Cynric</span>: Can protect a player on a mission from a <span class="resistance">resistance</span> bind
                    </li>
                    <% if (settings.lucius) { %>
                        <li>
                            <span class="spy">Lucius</span>: Sees <span class="resistance">resistance</span> roles not related to assassinatable roles
                        </li>
                    <% } %>
                </ul>
                <h1 class="future-header">Role Generation</h1>
                <ul>
                    <li>Only one of the following can be present:
                        <ul>
                            <li><span class="resistance">Merlin</span></li>
                            <li><span class="resistance">Tristan</span> and <span class="resistance">Iseult</span></li>
                            <li><span class="resistance">Ector</span></li>
                        </ul>
                    </li>
                    <li>Only one of the following can be present:
                        <ul>
                            <li><span class="resistance">Tristan</span> and <span class="resistance">Iseult</span></li>
                            <li><span class="resistance">Uther</span></li>
                            <li><span class="resistance">Galahad</span></li>
                        </ul>
                    </li>
                    <li>Only one of the following can be present:
                        <ul>
                            <li><span class="resistance">Percival</span></li>
                            <li><span class="resistance">Guinevere</span></li>
                        </ul>
                    </li>
                    <li>Only one of the following can be present:
                        <ul>
                            <li><span class="resistance">Lancelot</span></li>
                            <li><span class="resistance">Puck</span></li>
                        </ul>
                    </li>
                    <li>Only one of the following can be present:
                        <ul>
                            <li><span class="resistance">Kay</span></li>
                            <li><span class="resistance">Sir Robin</span></li>
                        </ul>
                    </li>
                    <li>If <span class="resistance">Galahad</span> is present, then <span class="resistance">Arthur</span> is</li>
                    <li>If <span class="spy">Mordred</span> is present, then <span class="resistance">Merlin</span> is</li>
                    <li>If <span class="spy">Morgana</span> is present, then <span class="resistance">Percival</span> and/or
                        <span class="resistance">Gaheris</span> is</li>
                    <li>If <span class="spy">Cynric</span> is present, then <span class="resistance">Gaheris</span> is</li>
                    <li>If <span class="resistance">Ector</span> is present, the following cannot be present:
                        <ul>
                            <li><span class="resistance">Merlin</span></li>
                            <li><span class="resistance">Tristan</span> and <span class="resistance">Iseult</span></li>
                            <li><span class="resistance">Uther</span></li>
                            <li><span class="resistance">Galahad</span></li>
                            <li><span class="resistance">Percival</span></li>
                            <li><span class="resistance">Guinevere</span></li>
                            <li><span class="resistance">Kay</span></li>
                            <li><span class="resistance">Sir Robin</span></li>
                            <li><span class="spy">Accolon</span></li>
                        </ul>
                    </li>
                    <li>Only one of the following can be present:
                        <ul>
                            <li><span class="spy">Accolon</span></li>
                            <li><span class="spy">Cerdic</span></li>
                        </ul>
                    </li>
                    <li>If <span class="resistance">Geraint</span> is present, then <span class="spy">Cerdic</span> is</li>
                </ul>
            </div>
            <div class="center-flex-column" id="game-content">
            </div>
            <div class="center-flex-column" id="role-content">
            </div>
        </div>
    </body>
</html>
