<div class="flex-column" id="root">
    <div class="flex-column" id="lobby">
        <h2 id="name">{{title}}</h2>
        <div class="future-color" id="lobby-information">
            <h2 id="game-code">Game Code: </h2>
            {{# if host }}
                <div id="players">
                    <h2 id="player-count">Players [0]</h2>
                    <ul id="player-list"></ul>
                </div>
            {{/if}}
        </div>
        <div id="game-information">
            {{# unless host }}
                <h2>Waiting for role information...</h2>
            {{/unless}}
        </div>
        {{# if host }}
            <button class="future-color future-disabled future-box" type="button"
                    id="start-game-button" disabled>Start Game</button>
            <button class="future-color future-box" type="button" id="close-game-button">Close Game</button>
        {{/if}}
    </div>
    <button class="lobby-open-button" id="lobby-open-button" title="Open Lobby Information"> # </button>
    <button class="modal-open-button" id="roles-open-button" title="Open Role Information"> ? </button>
    <div class="modal" id="roles">
        <span class="modal-close-button" id="roles-close-button">&times;</span>
        <h2>Resistance Roles</h2>
        <ul>
            <li>
                <span class="resistance">Merlin</span>: Sees <span class="spy">spies</span> (except <span class="spy">Mordred</span>) and
                <span class="resistance">Puck</span>; Can be assassinated
            </li>
            <li>
                <span class="resistance">Percival</span>: Sees <span class="resistance">Merlin</span>) and
                <span class="spy">Morgana</span>
            </li>
            <li>
                <span class="resistance">Tristan</span>: Sees <span class="resistance">Iseult</span>); Can be
                assassinated with <span class="resistance">Iseult</span>
            </li>
            <li>
                <span class="resistance">Iseult</span>: Sees <span class="resistance">Tristan</span>); Can be
                assassinated with <span class="resistance">Tristan</span>
            </li>
            <li>
                <span class="resistance">Lancelot</span>: May play reverse cards
            </li>
            <li>
                <span class="resistance">Guinevere</span>: Sees <span class="resistance">Lancelot</span>) and
                <span class="spy">Maelagant</span>
            </li>
            <li>
                <span class="resistance">Arthur</span>: Sees <span class="resistance">resistance</span> roles present; Can be assassinated
            </li>
            <li>
                <span class="resistance">Uther</span>: Sees a random <span class="resistance">resistance</span> player
            </li>
            <li>
                <span class="resistance">Leon</span>: Sees the team counts of two random players
            </li>
            <li>
                <span class="resistance">Puck</span>: Only wins if <span class="resistance">resistance</span> wins in 5 rounds; May play fail cards
            </li>
            <li>
                <span class="resistance">Sir Robin</span>: Only wins if <span class="resistance">resistance</span> wins and he went on two or fewer missions
            </li>
            <li>
                <span class="resistance">Jester</span>: Only wins if assassinated; Sees present assassinable roles
            </li>
            <li>
                <span class="resistance">Galahad</span>: Sees <span class="resistance">Arthur</span>
            </li>
        </ul>
        <h2>Spy Roles</h2>
        <ul>
            <li>
                <span class="spy">Mordred</span>: Not seen by <span class="resistance">Merlin</span>
            </li>
            <li>
                <span class="spy">Morgana</span>: Seen as possible <span class="resistance">Merlin</span>
                by <span class="resistance">Percival</span>
            </li>
            <li>
                <span class="spy">Maelagant</span>: May play reverse cards
            </li>
            <li>
                <span class="spy">Colgrevance</span>: Sees roles of all <span class="spy">spies</span>
            </li>
            <li>
                <span class="spy">Lucius</span>: Observes a single seen information from random <span class="resistance">resistance</span> player
            </li>
        </ul>
        <h2>Role Generation</h2>
        <ul>
            <li>If <span class="resistance">Percival</span> is present, then <span class="resistance">Merlin</span> and/or <span class="spy">Morgana</span> is present</li>
            <li>Only one of the following could be present:
                <ul>
                    <li><span class="resistance">Tristan</span> and <span class="resistance">Iseult</span></li>
                    <li><span class="resistance">Uther</span></li>
                    <li><span class="resistance">Leon</span></li>
                    <li><span class="resistance">Galahad</span></li>
                </ul>
            </li>
            <li>If <span class="resistance">Arthur</span> is present, <span class="resistance">Jester</span> is not</li>
            <li>If <span class="resistance">Lancelot</span> is present, <span class="resistance">Puck</span> is not</li>
            <li>If <span class="resistance">Jester</span> is present, the following cannot be present:
                <ul>
                    <li><span class="resistance">Arthur</span></li>
                    <li><span class="resistance">Galahad</span></li>
                    <li><span class="resistance">Puck</span></li>
                    <li><span class="resistance">Sir Robin</span></li>
                </ul>
            </li>
            <li>If <span class="resistance">Puck</span> is present, the following cannot be present:
                <ul>
                    <li><span class="resistance">Lancelot</span></li>
                    <li><span class="resistance">Jester</span></li>
                    <li><span class="resistance">Sir Robin</span></li>
                </ul>
            </li>
            <li>If <span class="resistance">Galahad</span> is present, then <span class="resistance">Arthur</span> is</li>
            <li>If <span class="resistance">Galahad</span> is present, then <span class="resistance">Jester</span> is not</li>
            <li>If <span class="resistance">Leon</span> is present, <span class="resistance">Percival</span> and
                <span class="resistance">Guinevere</span> are not</li>
            <li>If <span class="resistance">Sir Robin</span> is present, <span class="resistance">Puck</span> and
                <span class="resistance">Jester</span> are not</li>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
        integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/javascripts/game.js"></script>