<div class="flex-column" id="root">
    <div class="flex-column" id="game">
        <h3 id="status-message"></h2>
        <div class="vertical-player-area" id="top-player-area">
        </div>
        <div id="center-area">
            <div class="horizontal-player-area" id="left-player-area"></div>
            <div id="board-area">
                <img id="game-board" alt="5 player board"></img>
            </div>
            <div class="horizontal-player-area" id="right-player-area"></div>
        </div>
        <div class="flex-column" id="action-area"></div>
    </div>
    <div class="flex-column" id="lobby">
        <div class="flex-column future-color" id="lobby-information">
            <h2 id="game-code">Game Code: {{code}}</h2>
            <div id="lobby-players">
                <h2 id="lobby-player-count">Players [0]</h2>
                <ul id="lobby-player-list"></ul>
            </div>
        </div>
        {{# if host }}
        <button class="future-color future-secondary-font future-disabled future-box" type="button"
                id="start-game-button">Start Game</button>
        <button class="future-color future-secondary-font future-box" type="button" id="close-game-button">Close Game</button>
        {{/if}}
    </div>
    <button class="open-modal-button" id="open-roles-modal-button" title="Open Role Information"> ? </button>
    <button class="open-modal-button" id="open-intel-modal-button" title="Open Game Information"> # </button>
    {{# if host }}
    <button class="open-modal-button" id="toggle-host-information-button" title="Open Host Information"> $ </button>
    {{/if}}
    <div class="online-modal" id="intel-modal">
        <button class="close-modal-button" id="close-intel-modal-button" title="Close Game Information">&times;</button>
        <div id="intel-modal-area">
            <h2>Waiting for role information...</h2>
        </div>
    </div>
    <div class="online-modal" id="roles-modal" style="background-color: black;">
        <button class="close-modal-button" id="close-roles-modal-button" title="Close Role Information">&times;</button>
        <h1>Resistance Roles</h1>
        <ul>
            {{# if settings.puck }}
                <li>
                    <span class="resistance">Merlin</span>: Sees <span class="spy">spies</span> (except <span class="spy">Mordred</span>) and
                    <span class="resistance">Puck</span>; Can be assassinated
                </li>
            {{else}}
                <li>
                    <span class="resistance">Merlin</span>: Sees <span class="spy">spies</span> (except <span class="spy">Mordred</span>); Can be assassinated
                </li>
            {{/if}}
            <li>
                <span class="resistance">Percival</span>: Sees <span class="resistance">Merlin</span> and
                <span class="spy">Morgana</span>
            </li>
            <li>
                <span class="resistance">Tristan</span>: Sees <span class="resistance">Iseult</span>; Can be
                assassinated with <span class="resistance">Iseult</span>
            </li>
            <li>
                <span class="resistance">Iseult</span>: Sees <span class="resistance">Tristan</span>; Can be
                assassinated with <span class="resistance">Tristan</span>
            </li>
            <li>
                <span class="resistance">Lancelot</span>: May play reverse cards
            </li>
            {{# if settings.guinevere }}
                <li>
                    <span class="resistance">Guinevere</span>: Sees <span class="resistance">Lancelot</span> and
                    <span class="spy">Maelagant</span>
                </li>
            {{/if}}
            <li>
                <span class="resistance">Arthur</span>: Sees <span class="resistance">resistance</span> roles present; Can be assassinated
            </li>
            <li>
                <span class="resistance">Uther</span>: Sees a random <span class="resistance">resistance</span> player
            </li>
            {{# if settings.leon }}
                <li>
                    <span class="resistance">Leon</span>: Sees the team counts of two random players
                </li>
            {{/if}}
            {{# if settings.puck }}
                <li>
                    <span class="resistance">Puck</span>: Only wins if <span class="resistance">resistance</span> wins in 5 rounds; May play fail cards
                </li>
            {{/if}}
            {{# if settings.titania }}
                <li>
                    <span class="resistance">Titania</span>: Appears as a <span class="spy">spy</span> to a random <span class="spy">spy</span> player
                </li>
            {{/if}}
            {{# if settings.jester }}
                <li>
                    <span class="resistance">Jester</span>: Only wins if assassinated; Sees present assassinable roles
                </li>
            {{/if}}
            {{# if settings.galahad }}
                <li>
                    <span class="resistance">Galahad</span>: Sees <span class="resistance">Arthur</span>
                </li>
            {{/if}}
            {{# if settings.gawain }}
                <li>
                    <span class="resistance">Gawain</span>: Has a chance at preventing assassinations
                </li>
            {{/if}}
            {{# if settings.ector }}
                <li>
                    <span class="resistance">Ector</span>: Seen by all <span class="resistance">resistance</span> members as good; Can be assassinated
                </li>
            {{/if}}
            {{# if settings.gaheris }}
                <li>
                    <span class="resistance">Gaheris</span>: Sees one random <span class="resistance">resistance</span> role
                </li>
            {{/if}}
            {{# if settings.gareth }}
                <li>
                    <span class="resistance">Gareth</span>: Sees one random <span class="spy">spy</span> role
                </li>
            {{/if}}
            {{# if settings.bedivere }}
                <li>
                    <span class="resistance">Bedivere</span>: Sees <span class="spy">spy</span> roles
                </li>
            {{/if}}
            {{# if settings.kay }}
                <li>
                    <span class="resistance">Kay</span>: Sees a random <span class="spy">spy</span> player
                </li>
            {{/if}}
        </ul>
        <h1>Spy Roles</h1>
        <ul>
            <li>
                <span class="spy">Mordred</span>: Not seen by <span class="resistance">Merlin</span>
            </li>
            <li>
                <span class="spy">Morgana</span>: Seen as possible <span class="resistance">Merlin</span>
                by <span class="resistance">Percival</span>
            </li>
            <li>
                <span class="spy">Maelagant</span>: May play reverse cards
            </li>
            <li>
                <span class="spy">Colgrevance</span>: Sees roles of all <span class="spy">spies</span>
            </li>
            {{# if settings.lucius }}
                <li>
                    <span class="spy">Lucius</span>: Sees <span class="resistance">resistance</span> roles not related to assassinatable roles
                </li>
            {{/if}}
            {{# if settings.accolon }}
                <li>
                    <span class="spy">Accolon</span>: Sabotages the vision of a random <span class="resistance">resistance</span> player
                </li>
            {{/if}}
        </ul>
        <h1>Role Generation</h1>
        <ul>
            <li>Only one of the following could be present:
                <ul>
                    <li><span class="resistance">Merlin</span></li>
                    <li><span class="resistance">Tristan</span> and <span class="resistance">Iseult</span></li>
                    <li><span class="resistance">Arthur</span></li>
                    <li><span class="resistance">Uther</span></li>
                    {{# if settings.ector }}
                        <li><span class="resistance">Ector</span></li>
                    {{/if}}
                </ul>
            </li>
            <li>If <span class="resistance">Percival</span> is present, then <span class="resistance">Merlin</span> and/or <span class="spy">Morgana</span> is present</li>
            <li>Only one of the following could be present:
                <ul>
                    <li><span class="resistance">Tristan</span> and <span class="resistance">Iseult</span></li>
                    <li><span class="resistance">Uther</span></li>
                    {{# if settings.leon }}
                        <li><span class="resistance">Leon</span></li>
                    {{/if}}
                    {{# if settings.galahad }}
                        <li><span class="resistance">Galahad</span></li>
                    {{/if}}
                </ul>
            </li>
            {{# if settings.puck }}
                <li>If <span class="resistance">Lancelot</span> is present, <span class="resistance">Puck</span> is not</li>
            {{/if}}
            {{# if settings.puck }}
                <li>
                    If <span class="resistance">Puck</span> is present, <span class="resistance">Lancelot</span> is not
                </li>
            {{/if}}
            {{# if settings.galahad }}
                <li>If <span class="resistance">Galahad</span> is present, then <span class="resistance">Arthur</span> is</li>
            {{/if}}
            {{# if settings.gaheris }}
                <li>If <span class="resistance">Arthur</span> is present, then <span class="resistance">Gaheris</span> is not</li>
            {{/if}}
            {{# if settings.gareth }}
                <li>If <span class="resistance">Gareth</span> is present, then <span class="resistance">Bedivere</span> is not</li>
            {{/if}}
            {{# if settings.bedivere }}
                <li>If <span class="resistance">Bedivere</span> is present, then <span class="resistance">Gareth</span> is not</li>
            {{/if}}
            {{# if settings.kay }}
                <li>If <span class="resistance">Merlin</span> is present, then <span class="resistance">Kay</span> is not</li>
            {{/if}}
            {{# if settings.leon }}
                {{# if settings.guinevere }}
                    <li>If <span class="resistance">Leon</span> is present, <span class="resistance">Percival</span> and
                        <span class="resistance">Guinevere</span> are not</li>
                {{else}}
                    <li>If <span class="resistance">Leon</span> is present, <span class="resistance">Percival</span> is not
                {{/if}}
            {{/if}}
            {{# if settings.ector }}
                <li>If <span class="resistance">Ector</span> is present, the following cannot be present:
                    <ul>
                        <li><span class="resistance">Merlin</span></li>
                        <li><span class="resistance">Arthur</span></li>
                        <li><span class="resistance">Percival</span></li>
                        <li><span class="resistance">Tristan</span></li>
                        <li><span class="resistance">Iseult</span></li>
                        <li><span class="resistance">Uther</span></li>
                        {{# if settings.leon }}
                        <li><span class="resistance">Leon</span></li>
                        {{/if}}
                        {{# if settings.galahad }}
                        <li><span class="resistance">Galahad</span></li>
                        {{/if}}
                        {{# if settings.guinevere }}
                        <li><span class="resistance">Guinevere</span></li>
                        {{/if}}
                        <li><span class="spy">Morgana</span></li>
                        {{# if settings.lucius }}
                        <li><span class="spy">Lucius</span></li>
                        {{/if}}
                        {{# if settings.accolon }}
                        <li><span class="spy">Accolon</span></li>
                        {{/if}}
                    </ul>
                </li>
            {{/if}}
        </ul>
    </div>
    <div class="online-modal" id="assassination-modal">
        <div id="assassination-area"></div>
    </div>
    <div class="online-modal" id="results-modal">
        <button class="close-modal-button" id="close-results-modal-button" title="Close Results">&times;</button>
        <div id="results-area"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
        integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/javascripts/gameOnline.js"></script>