<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/gameLocal.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
                integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="/javascripts/gameLocal.js"></script>
    </head>
    <body>
        <div class="flex-column" id="root">
            <div class="flex-column" id="lobby">
                <h1 class="future-header" id="name"></h1>
                <%- include('./partials/lobby.ejs') %>
                <div id="game-information" class="center-flex-column"></div>
                <% if (host) { %>
                    <div id="host-information" class="center-flex-column">
                        <button class="future-button future-button-disabled" type="button"
                            id="start-game-button" disabled>Start Game</button>
                        <button class="future-button future-button-disabled" type="button"
                                id="finish-game-button" disabled>Finish Game</button>
                        <button class="future-button" type="button" id="close-lobby-button">Close Lobby</button>
                    </div>
                <% } %>
            </div>
            <button id="toggle-lobby-button" title="Toggle Lobby Information"> # </button>
            <button class="open-modal-button" id="open-roles-modal-button" title="Open Role Information"> ? </button>
            <div class="future-modal" id="roles-modal">
                <%- include('./partials/roles.ejs') %>
            </div>
        </div>
    </body>
</html>
