<div class="flex-column" id="root">
    <h1 class="future-color future-secondary-font future-box" id="extavalon-title">extavalon</h1>
    <button class="future-color future-secondary-font future-box" type="button", onclick="location.href='/new-local'">New Local Game</button>
    <button class="future-color future-secondary-font future-box" type="button", onclick="location.href='/new-online'">New Online Game</button>
    <button class="future-color future-secondary-font future-box" type="button", onclick="location.href='/join'">Join Game</button>
</div>
