<div class="flex-column" id="root">
    <h1 class="future-color future-secondary-font future-box" id="extavalon-title">extavalon</h1>
    {{# if errors }}
        <section id="errors">
            {{# each errors }}
                <p>{{ this.msg }}</p>
            {{/each}}
        </section>
    {{/if}}
    <form action="/login" method="post" autocomplete="off">
        <input class="future-color future-secondary-font future-box" type="text" placeholder="Enter First Name"
               maxlength="16" id="first-name-input" name="firstName" required />
        <input class="future-color future-secondary-font future-box" type="text" placeholder="Enter Last Name"
               maxlength="16" id="last-name-input" name="lastName" required />
        <input class="future-color future-disabled future-secondary-font future-box" type="submit"
               value="Login" id="login-button" disabled />
    </form>
</div>
<script src="/javascripts/login.js"></script>