<div class="flex-column" id="root">
    {{# if errors }}
        <section class="errors">
            <ul>
                {{# each errors }}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </section>
    {{/if}}
    {{# if online }}
        <form action="/new?type=online" method="post" autocomplete="off">
    {{else}}
        <form action="/new?type=local" method="post" autocomplete="off">
    {{/if}}
            <input class="future-color future-secondary-font future-box" type="text" placeholder="Enter Name"
                maxlength="12" name='name' required />
            <div class="setting-container">
                <div class="setting-item">
                    <h3 class="future-color future-secondary-font">Bedivere:</h3>
                    <label class="switch">
                        <input type="checkbox" name="bedivere" checked />
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="setting-item">
                    <h3 class="future-color future-secondary-font">Galahad:</h3>
                    <label class="switch">
                        <input type="checkbox" name="galahad" checked />
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="setting-item">
                    <h3 class="future-color future-secondary-font">Titania:</h3>
                    <label class="switch">
                        <input type="checkbox" name="titania" checked />
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="setting-item">
                    <h3 class="future-color future-secondary-font">Lucius:</h3>
                    <label class="switch">
                        <input type="checkbox" name="lucius" checked />
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="setting-item">
                    <h3 class="future-color future-secondary-font">Accolon:</h3>
                    <label class="switch">
                        <input type="checkbox" name="accolon" checked />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <input class="future-color future-disabled future-secondary-font future-box" type="submit"
                value="Create Game" id="create-game-button" disabled />
        </form>
</div>
<script src="/javascripts/new.js"></script>