<div class="flex-column" id="root">
    <h1 class="future-color future-secondary-font future-box" id="extavalon-title"><a href="/">extavalon</a></h1>
    <section class="profile-section flex-column future-color future-box">
        <h2>Profile Information:</h2>
        <dl class="property-table">
            <dt class="property-tag">First Name:</dt>
            <dd class="property-value">{{ firstName }}</dd>
            <dt class="property-tag">Last Name:</dt>
            <dd class="property-value">{{ lastName }}</dd>
        </dl>
    </section>
    <section class="profile-section flex-column future-color future-box">
        <h2>Game Logs:</h3>
        <h3 style="text-align: center;">Coming Soon</h3>
    </section>
</div>