body {
  background-image: url("../images/background-large.jpg");
  font-family: 'Helvetica', sans-serif;
}

/* Common Classes */

.flex-column {
  display: flex;
  flex-direction: column;
}

.future-color {
  color: #9debfb;
}

.future-disabled {
  color: #0790ab;
  cursor: default !important;
}

.future-box {
  background-color: transparent;
  border: 2px solid #029dbb;
  box-shadow: 0 0 4px rgba(2,157,187,0.65);
}

.future-secondary-font {
  font-family: Candara, sans-serif;
  text-shadow: 0 0 4px rgba(161,236,251,0.65);
}

.active {
  margin-top: 2vh;
  border: 2px solid #029dbb;
  box-shadow: 0 0 4px rgba(2,157,187,0.65);
}

.player-active {
  color: #228B22;
}

.player-inactive {
  color: #b3b3b3;
}

.resistance {
  color: #1e90ff;
}

.spy {
  color: #FF3333;
}

.suspicious {
  color: #F7FE2E !important;
}

.unknown {
  color: #9debfb;
}

.first-player {
  color: #FFD700 !important;
}

#errors {
  border: 1px solid;
  margin: 2vh auto 0px;
  padding: 1vh 1vw;
  width: 80vw;
  max-width: 400px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: transparent;
  text-align: center;
}

/* Common Elements */

a { 
  color: inherit;
} 

p {
  line-height: 150%;
}

button, input[type=submit] {
  font-size: 1.5em;
  font-weight: 700;

  align-items: flex-start;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  outline: none;
  padding: 1px 6px;
  width: 80vw;
  max-width: 400px;
  height: 20vw;
  max-height: 70px;
  margin: auto;
  margin-top: 2vh;
  border-radius: 20vw;

  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  border-radius: 20vw;
  font-size: 1.5em;
  outline: none;
  padding: 0 20px;
  width: 80vw;
  max-width: 400px;
  height: 20vw;
  max-height: 70px;
  margin: auto;
  margin-top: 2vh;
  display: inline-block;
  align-items: flex-start;
  text-align: start;
}

div.setting-item input[type=checkbox] {
  height: 1.5em;
  max-height: 1.5em;
  width: 1.5em;
  max-width: 1.5em;
}

#proposal-submit-button {
  width: 25vw;
}

::placeholder {
  color: #08a5c4;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #08a5c4;
}

::-ms-input-placeholder {
  color: #08a5c4;
}

form {
  display: flex;
  flex-direction: column;
}

section.profile-section {
  padding: 2vh 2vw;
  width: 75vw;
  max-width: 75vw;
  margin: 3vh auto 0vh auto;
}

dl.property-table {
  margin: 0vh 2vw;
  line-height: 2em;
}

dt.property-tag {
  float: left;
  clear: left;
  width: 10vw;
  font-weight: bold;
}

dd.property-value {
  float: left;
}

/* Index Page */

#extavalon-title {
  text-align: center;
  padding: 5vh 5vw;
  margin: auto;
  width: 80vw;
  max-width: 400px;
  font-size: 3em;
  margin-top: 2vh;
}

/* New Game Page */

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  max-width: 500px;
  padding: 1vh 1vw;
}

.row label {
  font-size: 1.25em;
  font-weight: 700;
}

.setting-container {
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  max-width: 500px;
}

.setting-item h3 {
  font-size: 1.5em;
  margin-block-start: 2vh;
  margin-block-end: 0vh;
}

.setting-item label {
  font-size: 1.5em;
  font-weight: 700;
  margin-block-start: 2vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a1ecfb;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #08a5c4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #08a5c4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

select {
  height: 2em;
}

/* Game Lobby Page */

#name {
  text-align: center;
  margin: auto;
  font-size: 2em;
  margin-top: 2vh;
  color: #9debfb;
}

#lobby-players {
  margin: auto;
  width: 80vw;
  max-width: 400px;
  border-bottom: 20px solid #029dbb;
  box-shadow: 0 0 4px rgba(0,157,187,0);
  color: #9debfb;
  background: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-block-start: 2vh;
}

#lobby-players h2 {
  padding: 10px 20px;
  margin: 0px;
  font-size: 1.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #029dbb;
  box-shadow: 0 0 4px rgba(2,157,187,0.65);
}

#lobby-players ul, #propose-team ul {
  position: relative;
  padding-inline-start: 10px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: left;
  border: 1px solid #029dbb;
  box-shadow: 0 0 4px rgba(2,157,187,0.65);
}

#lobby-player-list li, #proposal-player-list li {
  list-style: none;
  padding: 10px;
  font-size: 1.25em;
}

.remove-player-button {
  font-size: 1.25em;
  font-weight: 700;
  color: #9debfb;
  position: absolute;
  right: 20px;
}

.remove-player-button:hover,
.remove-player-button:focus {
  text-decoration: none;
  cursor: pointer;
  color: #08a5c4;
}

.remove-player-button span {
  display: block;
  position: absolute;
  top:0;
  left:0;
}

#propose-team {
  display: none;
  margin: auto;
  max-width: 400px;
  color: #9debfb;
  background: transparent;
  width: 35vw;
  border: 2px solid #029dbb;
  box-shadow: 0 0 4px rgb(2 157 187 / 65%);
  text-align: center;
}

.clickable {
  cursor: pointer;
}

#game-information {
  text-align: center;
  color: #b6f0fc;
  align-items: center;
}

#game-information section {
  margin: 0.67em 0em;
}

#game-information h2 {
  font-family: Candara, sans-serif;
}

#game-information p {
  margin: 0px;
}

#host-information {
  align-items: center;
}

#game-code {
  text-align: center;
  margin-block-start: 2vh;
  margin-block-end: 0vh;
}

.modal {
  max-height: 96vh;
  box-sizing: border-box;
  top: 2vh;
  padding: 2vh 2vw;
  overflow: auto;
}

.online-modal {
  max-height: 96vh;
  box-sizing: border-box;
  top: 2vh;
  padding: 2vh 2vw;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.close-modal-button {
  font-size: 1.75em;
  font-weight: bold;
  width: 3vw;
  height: 3vh;
  padding: 0px 0px;
  margin: 0px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: transparent;
  color: #9debfb;
  border: none;
  position: absolute;
  right: 2vw;
}

.close-modal-button:hover,
.close-modal-button:focus {
  text-decoration: none;
  cursor: pointer;
  color: #08a5c4;
}

.open-modal-button {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  top: 10px;
  right: 10px;
  margin-top: 0px;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

#open-roles-modal-button {
  color: #9debfb;
  background: transparent;
  border: 2px solid #029dbb;
}

#open-intel-modal-button {
  color: #9debfb;
  background: transparent;
  border: 2px solid #029dbb;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  top: 10px;
  right: calc(13px + 1.5em);
  margin-top: 0px;
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

#toggle-lobby-button {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  top: 10px;
  right: calc(13px + 1.5em);
  margin-top: 0px;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  color: #9debfb;
  background: transparent;
  border: 2px solid #029dbb;
}

#toggle-host-information-button {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  top: 10px;
  right: calc(16px + 3em);
  margin-top: 0px;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  color: #9debfb;
  background: transparent;
  border: 2px solid #029dbb;
}

#roles-modal {
  display: none;
  color: #b6f0fc;
  background-color: transparent;
  border: 2px solid #029dbb;
  box-shadow: 0 0 4px rgba(2,157,187,0.65);
  font-family: 'Helvetica', sans-serif;
  z-index: 6;
}

#roles-modal h1 {
  font-family: Candara, sans-serif;
  text-shadow: 0 0 4px rgba(161,236,251,0.65);
  font-size: 1.75em;
}

#results-area, #intel-modal-area, #assassination-area {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

#results-area p {
  margin: 0px;
}

#results-area section {
  margin: 0.67em 0em;
}

#intel-modal-area section {
  margin: 0.67em 0em;
}

#intel-modal-area h2 {
  font-family: Candara, sans-serif;
}

#intel-modal-area p {
  margin: 0px;
}

#assassination-area h3 {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#intel-modal {
  color: #b6f0fc;
  display: none;
  background-color: black;
  border: 2px solid #029dbb;
  box-shadow: 0 0 4px rgba(2,157,187,0.65);
  font-family: 'Helvetica', sans-serif;
  min-width: 30vw;
  min-height: 30vh;
  z-index: 7;
}

#results-modal {
  color: #b6f0fc;
  display: none;
  background-color: black;
  border: 2px solid #029dbb;
  box-shadow: 0 0 4px rgba(2,157,187,0.65);
  font-family: 'Helvetica', sans-serif;
  min-width: 30vw;
  min-height: 30vh;
  z-index: 8;
}

#assassination-modal {
  color: #b6f0fc;
  display: none;
  background-color: black;
  border: 2px solid #029dbb;
  box-shadow: 0 0 4px rgba(2,157,187,0.65);
  font-family: 'Helvetica', sans-serif;
  min-width: 30vw;
  min-height: 30vh;
}

#submit-results-modal {
  color: #b6f0fc;
  background-color: transparent;
  border: 2px solid #029dbb;
  box-shadow: 0 0 4px rgba(2,157,187,0.65);
  font-family: 'Helvetica', sans-serif;
  z-index: 6;
}

#status-message {
  display: block;
  position: absolute;
  left: 50%;
  margin-top: 0px;
  top: 10px;
  transform: translate(-50%);
  color: #9debfb;
  text-align: center;
}

.vertical-player-area {
  display: flex;
  justify-content: space-around;
  width: 40vw;
  margin: auto;
  padding-top: 4vh;
}

.vertical-player {
  text-align: center;
}

.vertical-player h3 {
  margin: 0.5vh 0.5vw;
}

#center-area {
  display: flex;
}

#game-board {
  width: 43vw;
  height: 43vh;
  z-index: 0;
}

#board-area {
  position: relative;
}

.result-image {
  z-index: 1;
  position: absolute;
  height: 9vh;
  width: 7vw;
}

.horizontal-player-area {
  height: 35vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.horizontal-player {
  display: flex;
  align-items: center;
}

.horizontal-player h3 {
  margin: 0.5vh 0.5vw;
}

#left-player-area .horizontal-player {
  justify-content: flex-end;
}

#right-player-area .horizontal-player {
  justify-content: flex-start;
}

.current-leader {
  text-decoration: underline;
}

.gun-image {
  height: 6vh;
  width: 10vw;
  min-height: 6vh;
  min-width: 10vw;
  border: 2px solid transparent;
}

.vote-image {
  height: 10vh;
  width: 6vw;
  min-height: 10vh;
  min-width: 6vw;
  border: 2px solid transparent;
}

.action-image {
  height: 16vh;
  width: 12vw;
  min-height: 16vh;
  min-width: 12vw;
  border: 2px solid transparent;
}

.selected-image {
  border: 2px solid #029dbb !important;
  box-shadow: 0 0 4px rgb(2 157 187 / 65%);
}

#action-area {
  margin: auto;
  color: #9debfb;
  justify-content: center;
  align-items: center;
}

img + img {
  margin-left: 0.5vw;
}

#reset-assassination-button, #confirm-assassination-button {
  width: 20vw;
  height: 5vh;
  margin-top: 1vh;
  font-size: 1.25em;
}
